@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {<script src="~/Scripts/page.js"></script>}

<div class="float-left source">
    <hgroup class="title">
        <h3>@ViewBag.Title</h3>
    </hgroup>
    <ul>
        @{
            var cssClass = new { @class = "selected" };
        }
        <li>@Html.ActionLink("最新", "Index", "Home", ViewBag.Selected == "Index" ? cssClass : null)</li>
        <li>@Html.ActionLink("关注", "Favor", "Home", ViewBag.Selected == "Favor" ? cssClass : null)</li>
        <li>@Html.ActionLink("源管理", "Source", "Home", ViewBag.Selected == "Source" ? cssClass : null)</li>
        @if (ViewBag.Sources != null)
        {
            foreach (TimiSoft.InformationCollection.Models.UserSource source in ViewBag.Sources)
            {
                <li>@Html.ActionLink((source.SourceName.Length > 10 ? source.SourceName.Substring(0, 10) : source.SourceName), "Content", "Home", new { Id = source.SourceId }, ViewBag.Selected == source.SourceName ? cssClass : null)</li>
            }
        }
    </ul>
</div>

<div class="float-left sourcecontent">
    @RenderBody()
</div>
