@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/Scripts/page.js"></script>
}
@section css {
}
<div class="float-left source">
    <div class="title">
        <h3>@ViewBag.Title</h3>
    </div>
    <ul class="nav">
        <li>@Html.ActionLink("最新消息", "Index", "Home", null, new { @class = (ViewBag.Selected == "Index" ? "refresh selected" : "refresh") })</li>
        <li>@Html.ActionLink("关注消息", "Favor", "Home", null, new { @class = (ViewBag.Selected == "Favor" ? "star selected" : "star") })</li>
        <li>@Html.ActionLink("采集任务(添加|配置|删除)", "Source", "Home", null, new { @class = (ViewBag.Selected == "Source" ? "cogwheel selected" : "cogwheel") })</li>
        <li>
            <span id="menu_source" class="submenu-icon down">+</span>
            <a href="@Url.Action("UserAll")" class="submenu-link @(ViewBag.Selected == "UserAll" ? "server_plus selected":"server_plus" )">
                所有消息
            </a>
        </li>
        <li class="t">
            <ul>
                @foreach (TimiSoft.InformationCollection.Models.SourceView source in ViewBag.Sources)
                {
                    <li>@Html.ActionLink((source.SourceName.Length > 10 ? source.SourceName.Substring(0, 9) + ".." : source.SourceName), "Content", "Home", new { Id = source.SourceId }, new { @class = (ViewBag.Selected == source.SourceName ? "tag selected" : "tag") })</li>
                }
            </ul>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li>@Html.ActionLink("系统管理", "", "", new { area = "Admin" }, new { @class = "cogwheel" })</li>
            <li>@Html.ActionLink("所有消息", "All", "Home", null, new { @class = (ViewBag.Selected == "All" ? "list selected" : "list") })</li>
        }
    </ul>
</div>
<script language="javascript" type="text/javascript">
    $(function () {
        var b = $("#menu_source");
        b.click(function () {
            var n = $(".t");
            if (b.hasClass("up")) {
                b.innerText = "-"
                b.removeClass("up");
                b.addClass("down");
                n.slideDown(300);
            }
            else {
                b.innerText = "+"
                b.removeClass("down");
                b.addClass("up");
                n.slideUp(300);
            }

            if( event.preventDefault){
                event.preventDefault();
            }
            else {
                return false;
            }
               
        });
    });
</script>
<div class="float-left sourcecontent">
    @RenderBody()
</div>