<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 信息采集系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <div class="content">
            <div class="float-left">
                <img src="~/Images/logo.jpg" />
            </div>
            <div class="float-left">
                <p class="site-title"><a href="/">信息采集系统</a></p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        <div class="content clear-fix">  
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="content">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - 信息采集系统</p>
            </div>
        </div>
    </footer>
</body>
</html>
