<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 信息采集系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    @RenderSection("scripts", required: false)
    <link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />
</head>
<body>
    <header class="featured">
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("信息采集系统", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @if (Request.IsAuthenticated)
                {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("最新", "Index", "Home")</li>
                            <li>@Html.ActionLink("关注", "About", "Home")</li>
                            <li>@Html.ActionLink("源管理", "Source", "Home")</li>
                        </ul>
                    </nav>
                }
            </div>
            <div style="height:0px; clear:both;"></div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - 信息采集系统</p>
            </div>
        </div>
    </footer>

</body>
</html>
