@if (Request.IsAuthenticated)
{
    <text>
        你好， @User.Identity.Name !
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink("修改密码", "Manage", "Home", new { area = "" })
            <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("注册", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
