@model TimiSoft.InformationCollectionWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "更改密码";
    ViewBag.Selected = "Account";
}

<div id="loginForm">

    <div id="hgroup">
        <h1 class="title">@ViewBag.Title.</h1>
        <h3 class="heading">你已使用 <strong>@User.Identity.Name</strong> 身份登录。</h3>
    </div>

    <h3>@ViewBag.StatusMessage</h3>

    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="account">
            <ul>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ul>
            <input type="submit" id="ChangePassword" value="更改密码" />
        </div>
    }

</div>

<div class="social" id="socialLoginForm" style="width:240px;">
    <h3>请牢记您的密码并定期修改。</h3>
    <h3>@Html.ActionLink("返回首页", "Index", "Home", null, new { id = "BackToHome", @class = "btn" })</h3>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $("#BackToHome").button();
        $("#ChangePassword").button();
    });
</script>