@model List<TimiSoft.InformationCollection.Models.SourceContentView>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="search">
        <span>关键字：</span>@Html.TextBox("search", Request["search"], new { id = "Search" })
        <span>省份：</span>@Html.TextBox("province", Request["province"], new { id = "Province" })
        <span>日期：</span>@Html.TextBox("begindate", Request["BeginDate"], new { id = "BeginDate" })
        <span>到</span> @Html.TextBox("enddate", Request["EndDate"], new { id = "EndDate" })<a id="SubSearch" class="button">搜索</a>
    </div>

    @Html.Partial("_SourceContentList", Model)
}

<script type="text/javascript" language="javascript">
    $(function () {
        $("#BeginDate").datepicker();
        $("#EndDate").datepicker();
        $("#SubSearch").click(function () {
            $("Form").submit();
        });
    });
</script>