@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/page.js"></script>
    @RenderSection("scripts", required: false)
}

<section class="float-left source">
    <hgroup class="title">
        <h3>@ViewBag.Title</h3>
    </hgroup>
    <ul>
        @{
            var cssClass = new { @class = "selected" };
        }

        <li><a href="/">信息采集系统</a></li>
        <li>@Html.ActionLink("数据清理", "Index", "Data", null, ViewBag.Selected == "Data" ? cssClass : null)</li>
        <li>@Html.ActionLink("用户管理", "Index", "User", null, ViewBag.Selected == "User" ? cssClass : null)</li>
        @if (Request.IsAuthenticated && User.Identity.Name == "hbwang")
        {
            <li>@Html.ActionLink("源管理", "Source", "Management", null, ViewBag.Selected == "Index" ? cssClass : null)</li>
            <li>@Html.ActionLink("过滤规则组", "Index", "SourceRegexGroup", null, ViewBag.Selected == "SourceRegexGroup" ? cssClass : null)</li>
            <li>@Html.ActionLink("过滤规则", "Index", "SourceRegex", null, ViewBag.Selected == "SourceRegex" ? cssClass : null)</li>
        }
    </ul>
</section>
<section class="float-left sourcecontent">
    @RenderBody()
</section>
