@model List<TimiSoft.InformationCollection.Models.Source>
@{
    Layout = "../Shared/_Content.cshtml";
}

<p class="title">
    源管理
</p>
@{
    var cssClass = new { @class = "btn" };
    foreach (var source in Model)
    {
        var id = new { id = source.SourceId };

        <div class="line">
            <a href="@source.Url">@source.SourceName</a>
            @Html.ActionLink("信息", "Content", "Management", id, cssClass)
            @Html.ActionLink("采集", "Collect", "Management", id, cssClass)
            @Html.ActionLink("清理", "Clear", "Management", id, cssClass)
        </div>
    }
}
